@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body{
  padding: 0;
  margin: 0;
  font-family: 'Share Tech Mono', 'VT323', 'Press Start 2P', monospace, sans-serif;
  background-color: #000;
  color: #00ffcc;
}